body{
    padding:0.24rem;
}
h2{
    font-size:0.36rem;
    border-bottom: 1px dashed #333;
    padding:0.24rem;
}
label{
    padding:0.3rem 0;
}

.info{
    text-align:center;
    margin-top:1rem;
}

.button{
    width:100%;
    margin-top:1rem;
}

.messagebox{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
    display: none;
}
.message{
    width:6rem;
    height:4.5rem;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color:#fff;
    border-radius: 0.1rem;
}
.message h3{
    width:auto;
    margin:0 0.24rem;
    border-bottom:1px solid #333;
    padding:0.24rem 0;
    text-align: center;
}
.message .con{
    width:auto;
    height:2rem;
    padding:0 0.24rem;
    line-height: 2rem;
    font-size:0.36rem;
}
.message button{
    display: block;
    margin:0.24rem auto;
}